\begin{center}
{
{% if 'font size' in options %}
	\fontsize{ {{options['font size']}} }{ {{options['font size'] * 1.2}} }\selectfont
{% endif %}
	{%- if 'width' in options and options['width'] -%}
		{% set sum_width = tools.sum(options['width']) %}
		\begin{tabularx}{\the \textwidth}
	{%- else -%}
		\begin{tabular}
	{%- endif -%}
	{@{}
		{%- for i in range(width) -%}
			{%- if 'width' in options and options['width'] -%}
				>{ \hsize={{ tools.float(options['width'][i]) / sum_width }} \hsize \centering }X
			{%- else -%}
				c
			{%- endif -%}
			{%- if not loop.last -%}
				|
			{%- endif -%}
		{%- endfor -%}
	@{}}
		\bhline
		{% for i in range(table.__len__()) %}
			{%- set ifirst = loop.first -%}
			{% for j in range(table[i].__len__()) -%}
				{%- if table[i][j] != None -%}
					{%- if ifirst -%}
						{{ table[i][j] }}
					{%- else -%}
						\multirow{ {{- cnt[i][j] -}} }{*}{
							{%- if 'width' in options and options['width'] -%}
								\parbox{ \hsize }{ \centering {{table[i][j]}} }
							{%- else -%}
								{{table[i][j]}}
							{%- endif -%}
						}
					{%- endif -%}
				{%- endif -%}
				{%- if loop.last -%}
					\tabularnewline
				{%- else -%}
					&
				{%- endif -%}
			{%- endfor -%}
			{%- if loop.first -%}
				\mhline
			{%- elif loop.last -%}
				\bhline
			{%- else -%}
				{%- for j in range(table[i].__len__()) -%}
					{%- if table[i + 1][j] != None -%}
						\cline{ {{- j + 1 -}} - {{- j + 1 -}} }
					{%- endif -%}
				{%- endfor -%}
			{%- endif %}
		{% endfor %}
	{%- if 'width' in options and options['width'] -%}
		\end{tabularx}
	{%- else -%}
		\end{tabular}
	{%- endif -%}
}
\end{center}
